:root {
  --primary-color: #1a3c34;
  --primary-color-hover: #344f46;
  --bg-color: #546e68;
  --primary-text: #c5a059;
  --opacity-text: #1a3c3499;
  --opacity-bg: #ffffff1a;
}

@font-face {
  font-family: "Cairo";
  src: url("/fonts/Cairo-VariableFont_slnt\,wght.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Cairo", sans-serif;
  margin: 0;
  padding: 0;
}

header {
  width: 100%;
  height: 65px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid #c5a05933;
}
header > div:first-child {
  color: var(--primary-color);
  display: flex;
  align-items: center;
  gap: 16px;
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  letter-spacing: -0.3px;
  text-align: right;
  vertical-align: middle;
}
.header-logo-holder {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color);
  border-radius: 50%;
}
header nav ul {
  display: flex;
  gap: 32px;
  padding: 0;
  margin: 0;
}
header nav li {
  list-style: none;
}
header nav li a {
  color: var(--primary-color);
  text-decoration: none;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0px;
  text-align: right;
  vertical-align: middle;
}

footer {
  width: 100%;
  min-height: 450px;
  background-color: var(--primary-color);
  padding: 80px 160px 40px 160px;
  display: flex;
  flex-direction: column;
  gap: 64px;
}
footer .footer-box {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 48px;
}
footer .footer-box > div {
  display: grid;
  row-gap: 24px;
}
.footer-text-icon {
  display: flex;
  gap: 16px;
  align-items: center;
}
.footer-logo-holder {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-text);
  border-radius: 50%;
}
.footer-media {
  display: flex;
  gap: 16px;
}
.footer-media-holder {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--opacity-bg);
  border-radius: 50%;
}

.footer-head-line {
  color: var(--primary-text);
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  margin: 0;
}
.footer-p-text {
  font-weight: 400;
  font-size: 14px;
  margin: 0;
  color: #cbd5e1;
  text-wrap: balance;
}
.footer-hr {
  margin-top: 12px;
  display: block;
  width: 72px;
  height: 4px;
  background-color: var(--primary-text);
}
.footer-text-text {
  display: flex;
  justify-content: space-between;
}
.footer-p-text-gold {
  font-weight: 700;
  line-height: 20px;
  color: var(--primary-text);
}
.footer-p-text-icon {
  background-color: #f871711a;
  height: 24;
  opacity: 1;
  padding-top: 2px;
  padding-right: 8px;
  padding-bottom: 2px;
  padding-left: 8px;
  border-radius: 4px;
  color: #f87171;
}
.footer-border-bottom-effect div:nth-child(2),
.footer-border-bottom-effect div:nth-child(3) {
  border-bottom: solid #ffffff1a 1px;
}

footer .footer-box > div:last-child {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-tail {
  border-top: solid #ffffff1a 1px;
  display: flex;
  justify-content: space-between;
  padding-top: 32px;
}
.footer-tail div {
  display: flex;
  gap: 32px;
}
footer a {
  color: inherit;
  text-decoration: inherit;
}

/* ui shared */
section {
  padding: 64px 32px;
}
a.active {
  color: var(--primary-text) !important;
}
.full-width-section {
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  width: 99dvw;
}

.btn-primary {
  background-color: var(--primary-color);
  color: white;
  padding-inline: 20px;
  border-radius: 16px;
  font-weight: 700;
}
.btn-primary:hover {
  background-color: var(--primary-color-hover);
  color: white;
  padding-inline: 20px;
  border-radius: 16px;
  font-weight: 700;
}
.btn-secondary {
  color: var(--primary-color);
  padding-inline: 20px;
  border-radius: 16px;
  font-weight: 700;
  border: 1px solid #c5a0594d;
  background-color: #ffffff;
}
.btn-secondary:hover {
  color: var(--primary-color);
  padding-inline: 20px;
  border-radius: 16px;
  font-weight: 700;
  border: 1px solid #c5a0594d;
  background-color: #ffffff;
}

.text-secondary {
  color: #546e68;
  font-size: 18px;
}
.text-primary {
  color: var(--primary-color) !important;
  font-weight: 700 !important;
}

.avatar {
  border-radius: 50%;
}
.btn-link {
  text-decoration: none;
  color: var(--primary-text);
  font-weight: 700;
  line-height: 20px;
}
.btn-link:hover {
  text-decoration: none;
  color: var(--primary-text);
  font-weight: 700;
  line-height: 20px;
}

.text-in-img .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    0deg,
    rgba(26, 60, 52, 0.8) 0%,
    rgba(26, 60, 52, 0) 100%
  );
}
