
.section-one{
    background: radial-gradient(57.25% 102.64% at 50% 50%, #1A3C34 0%, #0D1F1B 100%);
    position: relative;
}

.section-one .glass-bg{
    opacity: 0.05;
   background: linear-gradient(135deg, rgba(197, 160, 89, 0) 45%, #C5A059 45%, #C5A059 55%, rgba(197, 160, 89, 0) 55%);
   position: absolute;
   width: 100%;
}



h1{
    font-weight: 200;
font-size: 72px;
line-height: 72px;
letter-spacing: 0px;
text-align: center;
vertical-align: middle;
color: white;
}
.section-one p{
    font-family: Cairo;
font-weight: 200;
font-size: 24px;
line-height: 32px;
text-align: center;
vertical-align: middle;
color: #CBD5E1;

}
