/* :root {
  --primary-color: #1a3c34;
  --primary-color-hover: #344f46;
  --bg-color: #546e68;
  --primary-text: #c5a059;
  --opacity-text: #1a3c3499;
  --opacity-bg: #ffffff1a;
} */
/* section one */

.right-side {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.hero-image {
  border-radius: 16px;
  border-width: 2px;
  border: 2px solid #c5a05933;
  box-shadow: 0px 25px 50px -12px #00000040;
}
.hero-rate {
  display: flex;
  padding-top: 32px;
  gap: 24px;
}

.avatar-group img:not(:first-child) {
  margin-right: -15px;
}
.rating span {
  display: flex;
}

/* end section one */
/* section two */
.card {
  min-width: 222px;
  background-color: #f9faf9;
  border: 1px solid #c5a05933;
  border-radius: 16px;
}
.card-body {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 33px;
}
.header-logo-holder {
  width: 56px;
  height: 56px;
}
/* end section two */




/* .testimonial  */
.testimonial h2{
  margin-bottom: 64px;
}
.testimonial .card{
  background-color: #F9FAF9;
  border: 1px solid #C5A0591A;
  width: 298px;
  height: 244px;
  gap: 24px;
  border-radius: 24px;
  border-width: 1px;
  position: relative;
  
  
}
.testimonial .card .text-primary{
  font-size: 16px;
}
.testimonial .card .icon-to-left{
  position: absolute;
  left: 25px;
  top: 18px;
}
.testimonial .card:hover {
  scale: 1.1;
  transition:ease-in-out 1s ;
  border: 2px solid #C5A059;
  background-color: #1A3C34;
  box-shadow: 0px 25px 50px -12px #00000040;

  .text-primary , h6{

    color: white !important;
  }
}

